# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
env/
.env

# IDEs
.vscode/
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebooks
.ipynb_checkpoints

# Operating system files
.DS_Store
Thumbs.db
