# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
new_env/
venv/
env/
.venv/

# Jupyter Notebooks
.ipynb_checkpoints

# Data files (if you're using DVC to manage these)
/data

# Operating system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs
.vscode/
.idea/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log
# Ignore common data and model file types
*.h5
*.npy
*.json
*.png

# Ignore specific directories
trained_model/**/*.h5
results/**/*.png
results/**/*.json
outputs/**/*.npy
weights/**/*.h5
